name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang pkg-config catch2

    - name: Build
      run: |
        make
        make test
